* {
  font-size: 40px;
  color: white;
  margin: 0;
}

.parent {
  background-color: skyblue;
  padding: 20px;
  margin: 20px;
}

.german {
  padding-bottom: 20px;
  position: relative;
  left: 300px;
}

.german .child-one {
  background-color: black;
  width: 200px;
  height: 50px;
  color: black;
}

.german .child-two {
  background-color: red;
  width: 200px;
  height: 50px;
  color: red;
}

.german .child-three {
  background-color: yellow;
  width: 200px;
  height: 50px;
  color: yellow;
}

.german:hover .child-one {
  background-color: red;
  width: 200px;
  color: red;
}
.german:hover .child-two {
  background-color: white;
  width: 200px;
  color: white;
}
.german:hover .child-three {
  background-color:darkgreen;
  width: 200px;
  color: darkgreen;
}

.french {
  display: flex;
  position:relative;
  bottom: 10px;
  left: 300px;
}

.french .child-one {
  background-color: blue;
  height: 150px;
  width: 65px;
  color: black;
}

.french .child-two {
  background-color: white;
  height: 150px;
  width: 65px;
  color: red;
}

.french .child-three {
  background-color: red;
  height: 150px;
  width: 65px;
  color: yellow;
}

.french:hover .child-one {
  background-color: darkgreen;
  height: 150px;
  width: 65px;
  color: red;
}
.french:hover .child-two {
  background-color: white;
  height: 150px;
  width: 65px;
  color: white;
}
.french:hover .child-three {
  background-color:orange;
  height: 150px;
  width: 65px;
  color: darkgreen;
}